{% extends 'admin/master.html' %}

{% block body %}

<h2>Glauth Settings</h2>
<p><span style="color: red;">A glauth server restart is required for these changes to take effect.</span></p>

{% from 'bootstrap/form.html' import render_field %}

<form action="" method="post">
{{ form.hidden_tag() }}
<p><strong>General</strong></p>
{{ render_field(form.debug) }}
<p><strong>LDAP</strong></p>
{{ render_field(form.ldap_enabled) }}
{{ render_field(form.ldap_listen, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
<p><strong>LDAPS</strong></p>
{{ render_field(form.ldaps_enabled) }}
{{ render_field(form.ldaps_listen, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
{{ render_field(form.ldaps_cert, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
{{ render_field(form.ldaps_key, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
<p><strong>Backend</strong></p>
{{ render_field(form.basedn, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
{{ render_field(form.nameformat, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
{{ render_field(form.groupformat, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
<div class="form-group row">
    <label class="form-control-label  col-lg-2" for="dnformat">DN Format</label>
    <div class=" col-lg-6">
        <input class="form-control" id="dnformat" name="dnformat" placeholder="ou" type="text" value="{{ dnformat }}" readonly>
    </div>
    <div class="offset-lg-2 col-lg-6">
        <small class="form-text text-muted">Current dn format.</small>
    </div>
</div>
{{ render_field(form.sshkeyattr, form_type="horizontal", horizontal_columns=('lg', 2, 6)) }}
{{ render_field(form.anonymousDSE) }}
{{ render_field(form.submit) }}
</form>


{% endblock %}