{% extends 'admin/master.html' %}

{% block body %}

<h2>Edit Settings</h2>
<p><span style="color: red;">A glauth server restart is required for these changes to take effect.</span></p>
<form action="" method="post">
{{ form.hidden_tag() }}
<table style="width: 580px;" border="0" cellspacing="1" cellpadding="1" bgcolor="#ffffff">
    <tbody>
        <tr bgcolor="#ffffff">
            <td colspan="2"><b>General</b><br/></td>
        </tr>
        <tr bgcolor="#ffffff">

            <td>{{ form.debug.label }}</td>
            <td>{{ form.debug() }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td colpan="2"><b>LDAP</b><br/></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldap_enabled.label }}</td>
            <td>{{ form.ldap_enabled() }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldap_listen.label }}</td>
            <td>{{ form.ldap_listen(size=40) }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td colpan="2"><b>LDAPS</b><br/></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldaps_enabled.label }}</td>
            <td>{{ form.ldaps_enabled() }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldaps_listen.label }}</td>
            <td>{{ form.ldaps_listen(size=40) }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldaps_cert.label }}</td>
            <td>{{ form.ldaps_cert(size=40) }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.ldaps_key.label }}</td>
            <td>{{ form.ldaps_key(size=40) }}</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td colpan="2"><b>Backend</b><br/></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>{{ form.basedn.label }}</td>
            <td>{{ form.basedn(size=40) }}</td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
        </tr>
        <tr bgcolor="#ffffff">
            <td></td>
            <td style="text-align: right;">{{ form.submit() }}</td>
        </tr>
    </tbody>
    </table>
</form>


{% endblock %}