<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% if title %}
        <title>{{ config['APPNAME'] }} - {{ title }}</title>
        {% else %}
        <title>{{ config['APPNAME'] }}</title>
        {% endif %}

        {% endblock %}
    </head>
    <body>
        <div class="container{% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{ config['APPNAME'] }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <!-- active -->
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if not current_user.is_anonymous %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                    <a class="dropdown-item" href="{{ url_for('change_password') }}">Change Password</a>
                    {% if current_user.is_admin %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin</a>
                    <a class="dropdown-item" href="{{ url_for('testmail') }}">Send Test Mail</a>
                    {% endif %}
                  </div>
                </li>
                {% endif %}
                <li class="nav-item">
                  {% if current_user.is_anonymous %}  
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  {% else %}     
                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  {% endif %}        
                </li>
              </ul>
            </div>
          </nav>
        
        <!-- Imports -->
        {% from 'bootstrap4/form.html' import render_form %}
        {% from 'bootstrap4/form.html' import render_field %}
        {% from 'bootstrap4/utils.html' import render_messages %}
        <!-- Your page content -->
        <!-- current path: { request.path }} -->
        <!-- Bootstrap spacing: https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
        <div class="container-fluid">
            <div class="my-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            </div>    
        {% block content %}
        <div class="container">

        </div>
        {% endblock %}
        </div>
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </div>
    </body>
</html>
