{% extends "base.html" %}

{% block content %}
    <div class="my-3">    
        <h2>Change Your Password</h2>
    </div>
    <div class="mx-auto container" >
        <form method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.oldpassword) }}
            {{ render_field(form.newpassword1) }}
            {{ render_field(form.newpassword2) }}
            {{ render_field(form.submit) }}
            {{ render_field(form.cancel, button_style="btn btn-danger") }}
        </form>

    </div>
{% endblock %}