{% extends "base.html" %}

{% block content %}
    <div class="my-3">    
        <h2>Edit Profile</h2>
    </div>
    <div class="mx-auto container" >
        <form method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.givenname) }}
            {{ render_field(form.surname) }}
            {{ render_field(form.mail) }}
            {{ render_field(form.submit) }}
            {{ render_field(form.cancel, button_style="btn btn-danger") }}
        </form>

    </div>
{% endblock %}