{% extends "base.html" %}

{% block content %}
<div hx-get="//{{config.SERVER_NAME}}/login" hx-target="body" hx-trigger="load">
    Loading login form -- Please ensure javascript is enabled
</div>

<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>

<script>
window.onload = (event) => {
  htmx.on("htmx:afterOnLoad", function(event) {
      console.log(event.detail.xhr.getAllResponseHeaders())
  });
  htmx.on("htmx:beforeRequest", function(event) {
      event.detail.xhr.withCredentials=true;
  });
};
</script>
{% endblock %}
